{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react(.*)",
		"^@tanstack/(.*)$",
		"^axios$",
		"^@apis/(.*)$",
		"^@queries/(.*)$",
		"^@stores/(.*)$",
		"^@providers/(.*)$",
		"^@hooks/(.*)$",
		"^@utils/(.*)$",
		"^@constants/(.*)$",
		"^@types/(.*)$",
		"^@layouts/(.*)$",
		"^@pages/(.*)$",
		"^@components/(.*)$",
		"^@routers/(.*)$",
		"^@styles/(.*)$",
		"^@assets/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderParserPlugins": ["jsx", "typescript"],
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"prettier.printWidth": 400
}
