{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
      "^react(.*)",
      "^@tanstack/(.*)$",
      "^axios$",
      "^@apis/(.*)$",
      "^@queries/(.*)$",
      "^@stores/(.*)$",
      "^@providers/(.*)$",
      "^@hooks/(.*)$",
      "^@utils/(.*)$",
      "^@constants/(.*)$",
      "^@types/(.*)$",
      "^@layouts/(.*)$",
      "^@pages/(.*)$",
      "^@components/(.*)$",
      "^@routers/(.*)$",
      "^@styles/(.*)$",
      "^@assets/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["jsx", "typescript"],
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all"
  }
  